doctype html  
html(lang='ru')  
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Codenohito
    link(href='/css/main.css', rel='stylesheet')
  body
    include includes/hdr.pug
    .container
      section.holder
        include includes/about.pug
        include includes/tools.pug
        include includes/team_main.pug
        include includes/team_reserve.pug
        include includes/team_project.pug
        include includes/portfolio.pug
    script(type='text/javascript' src='/js/main.min.js')   
