section
  h3 Другие работы
  p 
    | Создание MVP стартапа CheckMed из Сан-Франциско 
    a(href="http://checkmed.net/") checkmed.net
    | .
  p 
    | Поддержка и доработка сайта продажи билетов на спортивные
    | и развлекательные мероприятия по всему миру 
    a(href="http://www.ticket-finders.com") www.ticket-finders.com
    | .   
  p 
    | Поддержка работы и добавление новых функций в сайт Министерства сельского хозяйства Красноярского края — 
    a(href="http://krasagro.ru/") krasagro.ru
    | .
  p 
    | Создание и поддержка сайта Енисейского речного пароходства — 
    a(href="https://www.e-river.ru/") www.e-river.ru
    | .      
