article.content
  h2 Бизнесу
  .content-right
    p
      | Мы создадим для вас веб-приложение, API или сайт начиная
      | с&nbsp;проектирования и&nbsp;заканчивая поддержкой готового решения.
      | Мы возьмём на&nbsp;поддержку ваш сайт на&nbsp;Ruby on&nbsp;Rails,
      | найдём способы как его улучшить и&nbsp;развить.
    p
      | Мы сделаем сайт так, что его будет легко продвигать в&nbsp;поисковых
      | системах (SEO) и&nbsp;приятно постить на него ссылки в&nbsp;социальных
      | сетях.
    p
      | Мы&nbsp;занимаемся только технической частью разработки, но
      | мы&nbsp;поможем вам найти подходящих специалистов других областей:
      | дизайнеров, seo-специалистов, копирайтеров, 3d-специалистов
      | и&nbsp;иллюстраторов.
article.content
  h2 Дизайнерам
  .content-right
    p
      | Мы сверстаем сайт или&nbsp;веб-приложение по&nbsp;вашим макетам любой
      | сложности с&nbsp;адаптивным дизайном, поддержкой старых браузеров,
      | сложной анимацией и&nbsp;компонентами, которые мы сделаем с&nbsp;помощью
      | Canvas и&nbsp;SVG.
    p
      | Мы запрограммируем свёрстанный сайт на&nbsp;очень гибком движке,
      | который позволит редактировать на&nbsp;сайте всё, что вы&nbsp;захотите
      | и не&nbsp;позволит пользователям изменять те&nbsp;компоненты, которые
      | нужно от&nbsp;них «защитить».
    p
      | Мы подключимся к&nbsp;проекту на&nbsp;этапе проектирования
      | и&nbsp;поможем продумать структуру и&nbsp;функции продукта, а&nbsp;если
      | нужно и&nbsp;техническое задание напишем.
    p
      | Нам доверили работу над своими проектами компании
      |
      a(href="http://proektmarketing.ru/") Проектмаркетинг +1
      | ,
      |
      a(href="http://idma.ru/") IDM&nbsp;agency.
article.content
  h2 Программистам
  .content-right
    p
      | Мы подключимся к&nbsp;вашему проекту как полноценный юнит и&nbsp;будем
      | выполнять задачи вашего бэклога. Разделив работу между членами
      | команды по&nbsp;уровню умений (а&nbsp;значит и&nbsp;стоимости)
      | мы&nbsp;сэкономим ваши деньги, а&nbsp;code-review от&nbsp;старшего
      | специалиста не&nbsp;позволит потерять в&nbsp;качестве.
    p
      | Мы вольёмся в&nbsp;ваш производственный процесс или будем использовать
      | свои практики ведения проектов &mdash; как вам удобнее.
