article.content.content-team
  h2 Команда
  h3 Ядро:
  section
    h4 Иван Дымков
    p
      | Тим-лид, ведущий fullstack-разработчик
      br
      | 10,5&nbsp;лет опыта программиста
      | и&nbsp;3,5&nbsp;года опыта руководства командой
      br
      | Full-stack, и&nbsp;понимание всего
      | цикла разработки и&nbsp;жизни проекта.
      br
      a(href="https://github.com/dymio") github.com/dymio
  section
    h4 Вероника Баранова
    p
      | Frontend-разработчик, верстальщик
      br
      | 2&nbsp;года опыта
      br
      a(href="https://github.com/BVVeronika") github.com/BVVeronika
