article.content.content-team
  h2 Команда
  h3 Ядро:
  section
    h4 Иван Дымков
    p
      | Тим-лид, ведущий fullstack-разработчик
      br
      | 10,5&nbsp;лет опыта программиста
      | и&nbsp;3,5&nbsp;года опыта руководства командой
      br
      | Спец.&nbsp;способности: тотальный full-stack, и&nbsp;понимание всего
      | цикла разработки и&nbsp;жизни проекта.
      br
      a(href="https://github.com/dymio") github.com/dymio
  section
    h4 Юлия Красикова
    p
      | Проект-менеджер, тестировщик
      br
      | год опыта
  section
    h4 Вадим Тюкпеев
    p
      | Frontend-разработчик, верстальщик
      br
      | 3&nbsp;года опыта
      br
      | Спец.&nbsp;способности: сложная веб-анимация и&nbsp;работа с&nbsp;Canvas.
      br
      a(href="https://github.com/RiceKing") github.com/RiceKing
  section
    h4 Павел Рожков
    p
      | Backend-разработчик
      br
      | 3&nbsp;года опыта
      br
      | Спец.&nbsp;способности: машинное обучение, машинное зрение,
      | мультиагентные системы искусственного интеллекта.
      br
      a(href="https://github.com/projkov") github.com/projkov
