article.content
  h3 Внешние специалисты, которые работали над нашими проектами:
  p
    strong Вячеслав Нор
    |  &mdash; проект менеджер с&nbsp;10&nbsp;годами опыта
    br
    strong Елена Бозина
    |  &mdash; frontend-разработчик и&nbsp;верстальщик
    | с&nbsp;4&nbsp;годами опыта
    br
    strong Виктор Каржанов
    |  &mdash; дизайнер с&nbsp;3&nbsp;годами опыта
    br
    strong Антон Ли
    |  &mdash; backend-разработчик с&nbsp;8&nbsp;годами опыта
    br
    strong Александр Маливанов
    |  &mdash; дизайнер с&nbsp;5&nbsp;годами опыта
    br
    strong Дарина Овечкина
    |  &mdash; тестировщик с&nbsp;годом опыта
    br
    strong Павел Рожков
    |  &mdash; backend-разработчик, более 3 лет опыта
    br
    strong Вадим Тюкпеев
    |  &mdash; frontend-разработчик и&nbsp;вестальщик, более 3 лет опыта
