section
  h3 A2
  p
    | Для этого сайта были выставлены высокие требования к&nbsp;наполнению
    | раздела проектов. Описание каждого проекта должно было состоять
    | из&nbsp;разных блоков: карта, слайдер, галерея, текст в&nbsp;одну
    | или&nbsp;несколько колонок и&nbsp;пр. А главное&nbsp;&mdash; состав,
    | содержание и&nbsp;порядок этих блоков необходимо было выдать
    | на&nbsp;редактирование в&nbsp;панели управления.
  p
    | Результатом нашей работы стала возможность создавать вот такие, например,
    | страницы&nbsp;&mdash;
    |
    a(href="http://www.proa2.ru/projects/edinoborstva")
      | www.proa2.ru/projects/edinoborstva
  img(src='/images/a2.png' alt='codenohito a2')
  p
    | Из&nbsp;решения для этого сайта появился наш open-source проект
    |
    a(href="https://github.com/dymio/vitrage") «Витраж»
    | .
  p
    | Технологии: Ruby&nbsp;on&nbsp;Rails, HTML5, CSS3, jQuery, Javascript,
    | CoffeeScript, SCSS, Slim, Витраж, адаптивная вёрстка.
    br
    | Ссылка&nbsp;на&nbsp;сайт:
    |
    a(href="http://www.proa2.ru/") www.proa2.ru
