section
  h3 Сайт Арко
  p
    | Менеджер этого сайта в&nbsp;панели управления может задать любое
    | количество языков и&nbsp;задать для каждого языка все надписи
    | на&nbsp;сайте. Вёрстка усложнялась тем, что для разных страниц
    | использовались три разных layout’а. Но&nbsp;самая интересная
    | и&nbsp;сложная часть фронта&nbsp;&mdash;
    |
    a(href="http://arko24.ru/ru/services") arko24.ru/ru/services
    | &nbsp;&mdash; раздел услуг, созданный на&nbsp;Canvas.
  p
    | Наша команда создавала сайт на&nbsp;основе pds-макетов дизайна
    | и&nbsp;устных пожеланий заказчика.
  img(src='/images/arco.png' alt='codenohito arco')
  p
    | Технологии: Ruby&nbsp;on&nbsp;Rails, HTML5, CSS3, jQuery, Javascript,
    | Canvas, Createjs, CoffeeScript, SCSS, Slim, адаптивная вёрстка.
    br
    | Ссылка&nbsp;на&nbsp;сайт:
    |
    a(href="http://arko24.ru") arko24.ru
