section
  h3 Крафтап
  p
    | Стартап в&nbsp;области моды и&nbsp;дизайна. Связывает покупателей
    | и&nbsp;мелких производителей интересных дизайнерских изделий.
    | Мы&nbsp;участвовали в&nbsp;проектировании архитектуры проекта
    | с&nbsp;самого начала, создавали и&nbsp;развивали его.
    | В&nbsp;
    a(href="https://craftup.ru/publications/registratia") этой статье
    |  можно посмотреть примеры личного кабинета.
  img(src='/images/craftup.png' alt='codenohito craftup')
  p
    | Технологии: Ruby&nbsp;on&nbsp;Rails, HTML5, CSS3, jQuery, Javascript,
    | CoffeeScript, SCSS, Slim, адаптивная вёрстка.
    br
    | Ссылка на сайт:
    |
    a(href="https://craftup.ru") craftup.ru
