section
  h3 Другие работы
  p
    | Создание MVP стартапа CheckMed из&nbsp;Сан-Франциско
    |
    a(href="http://checkmed.net/") checkmed.net
    | .
  p
    | Поддержка и&nbsp;доработка сайта продажи билетов на&nbsp;спортивные
    | и&nbsp;развлекательные мероприятия по&nbsp;всему миру
    |
    a(href="http://www.ticket-finders.com") ticket-finders.com
    | .
  p
    | Поддержка работы и&nbsp;добавление новых функций в&nbsp;сайт Министерства
    | сельского хозяйства Красноярского края&nbsp;&mdash;
    |
    a(href="http://krasagro.ru/") krasagro.ru
    | .
  p
    | Создание и&nbsp;поддержка сайта
    | Енисейского речного пароходства&nbsp;&mdash;
    |
    a(href="https://www.e-river.ru/") www.e-river.ru
    | .
  p
    strong
      | Это далеко не&nbsp;полный список.
      br
      | Работая в&nbsp;составе разных команд и&nbsp;компаний члены нашей
      | команды создали более 50&nbsp;различных проектов.
