section
  h3 Сайт компании «Проектмаркетинг +1»
  p Сайт компании, частью которой была наша команда.
  img(src="/images/proektmarketing.png" alt="codenohito proektmarketing")
  p
    | Технологии: Ruby&nbsp;on&nbsp;Rails, HTML5, CSS3, jQuery, Javascript,
    | CoffeeScript, Barba.js, SCSS, Slim, адаптивная вёрстка.
    br
    | Ссылка&nbsp;на&nbsp;сайт:
    |
    a(href="http://proektmarketing.ru") proektmarketing.ru
