section
  h3 Крафтап
  img(src='/images/craftup.png' alt='codenohito craftup')
  p 
    | Стартап в области моды и дизайна. Связывает покупателей и мелких 
    | производителей интересных дизайнерских изделий. Мы участвовали в 
    | проектировании архитектуры проекта с самого начала, создавали и развивали его.
  p
    | В  
    a(href="https://craftup.ru/publications/registratia") статье
    |  можно посмотреть примеры личного кабинета.
  p 
    b Технологии: 
    | Ruby on Rails, HTML5, CSS3, jQuery, Javascript, CoffeeScript, SCSS, Slim, адаптивная вёрстка.  
  p 
    b Сайт: 
    a(href="https://craftup.ru") craftup.ru 
