section
  h3 Сайт ЖК «Отражение»
  img(src="/images/otrajenie.png"  alt='codenohito otrazhenie')
  p Адаптивный сайт жилого комплекса.
  p 
    | Из особенно интересных частей —  
    a(href="http://otrazhenie.su/apartments") otrazhenie.su/apartments
    |  — страница планировок, для создания которой использовался Canvas и библиотека Pixi.js.
  p 
    b Технологии: 
    | Ruby on Rails, HTML5, CSS3, jQuery, Javascript, Canvas,
    | Pixi.js, CoffeeScript, SCSS, Slim, Bootstrap4.
  p 
    b Ссылка на сайт: 
    a(href="http://otrazhenie.su") otrazhenie.su
