article.content
  h2 Портфолио
  include portfolio/craftup.pug
  include portfolio/arco.pug
  include portfolio/a2.pug
  include portfolio/otrajenie.pug
  include portfolio/proektmarketing.pug
  include portfolio/other_project.pug
