article.content
  h2 Open-source проекты
  p
    a(href="http://mayak.io/") Mayak
    |  создан для избавления от рутинных задач при старте нового Rails-проекта 
    | без необходимости отказываться от гибкости, как это бывает с CMS. 
    | Этот проект лёг в основу более чем 40 сайтов и вобрал в себя лучшие решения из них. 
  p
    a(href="https://github.com/dymio/vitrage") Витраж
    |  — инструмент создания и редактирования сложного контента.
