doctype html  
html(lang='en')  
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Codenohito
    link(href='/css/main.css', rel='stylesheet')
  body
    .container
      header.m-hdr
        .logo-wrap
          .logo
            span.code {code}
            span の人
          h1.name Code no Hito 
          p.transcr  (people of code)
        .mail-wrap
          a(href="mstrdymio@gmail.com") mstrdymio@gmail.com
      section.holder
        article.content
          h2 Бизнесу
          p
            | Мы создадим для вас веб-приложение, API или сайт со сложным 
            |  функционалом начиная с проектирования, заканчивая поддержкой созданного решения.
            |  Мы возьмём на поддержку ваш сайт на Ruby on Rails, найдём способы как его улучшить и развить.
          p
            | Мы сделаем сайт так, что его будет легко продвигать в поисковых 
            | системах (SEO) и приятно постить на него ссылки в социальных сетях.
          p
            | Мы занимаемся только технической частью разработки, 
            |  но мы поможем вам найти подходящих специалистов других областей: 
            |  дизайнеров, seo-специалистов, копирайтеров, 3d-специалистов и иллюстраторов.
        article.content
          h2 Дизайнерам
          p 
            | Мы сверстаем сайт или веб-приложение по вашим макетам любой сложности 
            | с адаптивным дизайном, поддержкой старых браузеров, сложной анимацией 
            | и компонентами, которые мы сделаем с помощью Canvas и SVG.
          p
            | Мы запрограммируем свёрстанный сайт на очень гибком движке, 
            | который позволит редактировать на сайте всё, что вы захотите и не 
            | позволит редактировать те компоненты, в которые вы не захотите пускать пользователя. 
          p 
            | Мы подключимся к проекту на этапе проектирования и поможем продумать 
            | структуру и функции продукта, а если нужно и техническое задание напишем.
          p 
            | Нам доверили работу над своими проектами компании 
            a(href="http://proektmarketing.ru/") Проектмаркетинг +1
            | , 
            a(href="http://idma.ru/") IDM&nbsp;agency.
        article.content
          h2 Программистам
          p 
            | Мы подключимся к вашему проекту как полноценный юнит и будем 
            | выполнять задачи вашего бэклога. Разделив работу между членами 
            | команды по уровню умений (а значит и стоимости) мы сэкономим ваши 
            | деньги, а code-review от старшего специалиста не позволит потерять в качестве.
          p
            | Мы вольёмся в ваш производственный процесс или будем использовать 
            | свои практики ведения проектов — как вам удобнее.
        article.content
          h2 Наши инструменты
          h3 Back-end & DevOps:
          p Ruby, Ruby on Rails, RSpec, Go, PostgreSQL, Linux, Shell script, Mina, Docker, Heroku, Amazon AWS, Jenkins, Git.
          h3 Front-end:
          p HTML, CSS, React, Redux, Angular 1, Backbone, Spine, jQuery, PostCSS, Webpack, Gulp, Sprockets, CreateJS, PixiJS, ThreeJS, Git.
          h3 Management:
          p Agile, Kanban, Scrum, Trello, Slack, Git.
        article.content
          h2 Команда
          h3 Ядро команды:
          section
            h4 Иван Дымков
            p Тим-лид, ведущий fullstack-разработчик
            p 10,5 лет опыта программиста и 3,5 года опыта руководства командой.
            p Спец. способности: тотальный full-stack, и понимание всего цикла разработки и жизни проекта.
            a(href="https://github.com/dymio") github.com/dymio
          section
            h4 Вадим Тюкпеев
            p Frontend-разработчик, верстальщик
            p 3 года опыта
            p Спец. способности: сложная веб-анимация и работа с Canvas.
            a(href="https://github.com/RiceKing") github.com/RiceKing
          section
            h4 Павел Рожков
            p Backend-разработчик
            p 3 года опыта
            p 
             | Спец. способности: машинное обучение, машинное зрение, 
             | мультиагентные системы искусственного интеллекта.
            a(href="https://github.com/projkov") github.com/projkov
          section
            h4 Дарина Овечкина
            p Тестировщик
            p 1 год опыта работы
            p Спец. способности: умение сломать то, что уже долго нормально работало.
        article.content  
          h3 Внешние специалисты, которые принимали участие в проектах нашей команды:
          section
            h5 Вячеслав Нор
            p Проект менеджер с 10 годами опыта
          section
            h5 Вероника Баранова
            p Frontend-разработчик и вестальщик
          section
            h5 Елена Бозина
            p Frontend-разработчик и верстальщик с 4 годами опыта
          section
            h5 Виктор Каржанов
            p Дизайнер с 3 годами опыта
          section
            h5 Юлия Красикова
            p Проект-менеджер с годом опыта
          section
            h5 Антон Ли
            p Backend-разработчик с 8 годами опыта
          section
            h5 Александр Маливанов
            p Дизайнер с 5 годами опыта.            
        article.content
          h2 Open-source проекты
          p
            a(href="http://mayak.io/") Mayak
            |  создан для избавления от рутинных задач при старте нового Rails-проекта 
            | без необходимости отказываться от гибкости, как это бывает с CMS. 
            | Этот проект лёг в основу более чем 40 сайтов и вобрал в себя лучшие решения из них. 
          p
            a(href="https://github.com/dymio/vitrage") Витраж
            |  — инструмент создания и редактирования сложного контента.
        article.content
          h2 Портфолио
          section
            h3 Крафтап
            img(src='/images/craftup.png')
            p 
              | Стартап в области моды и дизайна. Связывает покупателей и мелких 
              | производителей интересных дизайнерских изделий. Мы участвовали в 
              | проектировании архитектуры проекта с самого начала, создавали и развивали его.
            p
              | В  
              a(href="https://craftup.ru/publications/registratia") статье
              |  можно посмотреть примеры личного кабинета.
            p 
              | Технологии:
              | Ruby on Rails, HTML5, CSS3, jQuery, Javascript, CoffeeScript, SCSS, Slim, адаптивная вёрстка.  
            p 
              | Сайт: 
              a(href="https://craftup.ru") craftup.ru   
          section
            h3 Сайт Арко
            img(src='/images/arco.png')
            p 
              | Менеджер этого сайта в панели управления может задать любое 
              | количество языков и задать для каждого языка все надписи на сайте.
              | Вёрстка усложнялась тем, что для разных страниц использовались 
              | три разных layout’а. Но самая интересная и сложная часть фронта — 
              a(href="http://arko24.ru/ru/services") arko24.ru/ru/services 
              | — раздел услуг, созданный на Canvas.
            p Наша команда создавала сайт на основе pds-макетов дизайна и устных пожеланий заказчика.
            p 
              | Технологии: Ruby on Rails, HTML5, CSS3, jQuery, Javascript,
              | Canvas, Createjs, CoffeeScript, SCSS, Slim, адаптивная вёрстка.  
            p 
              | Ссылка на сайт: 
              a(href="http://arko24.ru") arko24.ru
          section
            h3 A2    
            img(src='/images/a2.png')
            p 
              | Для этого сайта были выставлены высокие требования к наполнению 
              | раздела проектов. Описание каждого проекта должно было состоять 
              | из разных блоков: карта, слайдер, галерея, текст в одну или несколько
              | колонок и пр. А главное — состав, содержание и порядок этих блоков 
              | необходимо было выдать на редактирование в панели управления.  
            p 
              | Результатом нашей работы стала возможность создавать вот такие, например, страницы — 
              a(href="http://www.proa2.ru/projects/edinoborstva") www.proa2.ru/projects/edinoborstva
            p 
              | Из решения для этого сайта появился наш open-source проек 
              a(href="https://github.com/dymio/vitrage") «Витраж»
              | . 
            p 
              | Технологии: Ruby on Rails, HTML5, CSS3, jQuery, Javascript, 
              | CoffeeScript, SCSS, Slim, Витраж, адаптивная вёрстка.  
            a 
              | Сайт: 
              a(href="http://www.proa2.ru/") www.proa2.ru/
          section
            h3 Сайт ЖК «Отражение»
            img(src="/images/otrajenie.png")
            p Адаптивный сайт жилого комплекса.
            p 
              | Из особенно интересных частей —  
              a(href="http://otrazhenie.su/apartments") otrazhenie.su/apartments
              |  — страница планировок, для создания которой использовался Canvas и библиотека Pixi.js.
            p 
              | Технологии: Ruby on Rails, HTML5, CSS3, jQuery, Javascript, Canvas,
              | Pixi.js, CoffeeScript, SCSS, Slim, Bootstrap4.
            p 
              | Ссылка на сайт: 
              a(href="http://otrazhenie.su") otrazhenie.su
          section
            h3 Сайт компании «Проектмаркетинг +1»
            img(src="/images/proektmarketing.png")
            p Сайт компании, частью которой была наша команда.
            p 
              | Технологии: Ruby on Rails, HTML5, CSS3, jQuery, Javascript, 
              | CoffeeScript, Barba.js, SCSS, Slim, адаптивная вёрстка.
            p 
              | Сайт: 
              a(href="http://proektmarketing.ru") proektmarketing.ru
          section
            h3 Другие работы
            p 
              | Создание MVP стартапа CheckMed из Сан-Франциско 
              a(href="http://checkmed.net/") checkmed.net
              | .
            p 
              | Поддержка и доработка сайта продажи билетов на спортивные
              | и развлекательные мероприятия по всему миру 
              a(href="http://www.ticket-finders.com") www.ticket-finders.com
              | .   
            p 
              | Поддержка работы и добавление новых функций в сайт Министерства сельского хозяйства Красноярского края — 
              a(href="http://krasagro.ru/") krasagro.ru
              | .
            p 
              | Создание и поддержка сайта Енисейского речного пароходства — 
              a(href="https://www.e-river.ru/") www.e-river.ru
              | .      
    // img(src='/images/picture.jpg')       
    script(type='text/javascript' src='/js/main.min.js')   
