section
  h3 A2    
  img(src='/images/a2.png' alt='codenohito a2')
  p 
    | Для этого сайта были выставлены высокие требования к наполнению 
    | раздела проектов. Описание каждого проекта должно было состоять 
    | из разных блоков: карта, слайдер, галерея, текст в одну или несколько
    | колонок и пр. А главное — состав, содержание и порядок этих блоков 
    | необходимо было выдать на редактирование в панели управления.  
  p 
    | Результатом нашей работы стала возможность создавать вот такие, например, страницы — 
    a(href="http://www.proa2.ru/projects/edinoborstva") www.proa2.ru/projects/edinoborstva
  p 
    | Из решения для этого сайта появился наш open-source проек 
    a(href="https://github.com/dymio/vitrage") «Витраж»
    | . 
  p 
    b Технологии: 
    | Ruby on Rails, HTML5, CSS3, jQuery, Javascript, 
    | CoffeeScript, SCSS, Slim, Витраж, адаптивная вёрстка.  
  p 
    b Сайт: 
    a(href="http://www.proa2.ru/") www.proa2.ru/
