section
  h3 A2
  p
    | Website of architectural company. Main challenge was making projects pages
    | which has difficult and various content. Here is an example of that
    | page&nbsp;&mdash;
    |
    a(href="http://www.proa2.ru/projects/edinoborstva") proa2.ru/projects/edinoborstva
    | .
  img(src='/images/a2.png' alt='codenohito a2')
  p
    | Technologies: Ruby&nbsp;on&nbsp;Rails, HTML5, CSS3, jQuery, Javascript,
    | CoffeeScript, SCSS, Slim, Витраж, adaptive design.
    br
    | Website:
    |
    a(href="http://www.proa2.ru/") www.proa2.ru
