section
  h3 ARCO
  p
    | Multi-language website of engineering company.
    | The most interesting page is
    |
    a(href="http://arko24.ru/ru/services") arko24.ru/ru/services
    | &nbsp;&mdash; services page made with Canvas.
  img(src='/images/arco.png' alt='codenohito arco')
  p
    | Technologies: Ruby&nbsp;on&nbsp;Rails, HTML5, CSS3, jQuery, Javascript,
    | Canvas, Createjs, CoffeeScript, SCSS, Slim, adaptive design.
    br
    | Website:
    |
    a(href="http://arko24.ru") arko24.ru
