section
  h3 Craftup
  p
    | Fashion and&nbsp;design startup. Joins customers and&nbsp;small
    | manufacturers. In&nbsp;
    a(href="https://craftup.ru/publications/registratia") this article
    |  you can see short preview of resident's profile.
  img(src='/images/craftup.png' alt='codenohito craftup')
  p
    | Technologies: Ruby&nbsp;on&nbsp;Rails, HTML5, CSS3, jQuery,
    | Javascript, CoffeeScript, SCSS, Slim, adaptive design.
    br
    | Website:
    |
    a(href="https://craftup.ru") craftup.ru
