section
  h3 Other works
  p
    | MVP of
    |
    a(href="http://checkmed.net/") CheckMed.net
    | &nbsp;&mdash; medical startup from&nbsp;San-Francisco.
  p
    | Support and impovement of an international ticket brokerage service
    |
    a(href="http://www.ticket-finders.com") ticket-finders.com
    | .
  p
    | Support and improvement of a website of Ministry of Agriculture of
    | the Krasnoyarsk Territory
    |
    a(href="http://krasagro.ru/") krasagro.ru
    | .
  p
    | Create and support of website of Yenisei River Shipping Co
    |
    a(href="https://www.e-river.ru/") www.e-river.ru
    | .
  p
    strong
      | This is not a complete list.
      br
      | Our team members created more than 50 projects working with different
      | teams and companies.
