section
  h3 RK Otrazhenie
  p
    | Adaptive website of residential complex.
    | The most interesting part&nbsp;&mdash;
    |
    a(href="http://otrazhenie.su/apartments") otrazhenie.su/apartments
    | &nbsp;&mdash; page with floor plans made with Canvas and Pixi.js.
  img(src="/images/otrajenie.png"  alt='codenohito otrazhenie')
  p
    | Technologies: Ruby&nbsp;on&nbsp;Rails, HTML5, CSS3, jQuery, Javascript,
    | Canvas, Pixi.js, CoffeeScript, SCSS, Slim, Bootstrap4, adaptive design.
    br
    | Website:
    |
    a(href="http://otrazhenie.su") otrazhenie.su
