section
  h3 Proektmarketing +1 website
  img(src="/images/proektmarketing.png" alt="codenohito proektmarketing")
  p
    | Technologies: Ruby&nbsp;on&nbsp;Rails, HTML5, CSS3, jQuery, Javascript,
    | CoffeeScript, Barba.js, SCSS, Slim, adaptive design.
    br
    | Website:
    |
    a(href="http://proektmarketing.ru") proektmarketing.ru
