section
  h3 Сайт компании «Проектмаркетинг +1»
  img(src="/images/proektmarketing.png" alt="codenohito proektmarketing")
  p Сайт компании, частью которой была наша команда.
  p 
    b Технологии: 
    | Ruby on Rails, HTML5, CSS3, jQuery, Javascript, 
    | CoffeeScript, Barba.js, SCSS, Slim, адаптивная вёрстка.
  p 
    b Сайт: 
    a(href="http://proektmarketing.ru") proektmarketing.ru
