section
  h3 Сайт Арко
  img(src='/images/arco.png')
  p 
    | Менеджер этого сайта в панели управления может задать любое 
    | количество языков и задать для каждого языка все надписи на сайте.
    | Вёрстка усложнялась тем, что для разных страниц использовались 
    | три разных layout’а. Но самая интересная и сложная часть фронта — 
    a(href="http://arko24.ru/ru/services") arko24.ru/ru/services 
    | — раздел услуг, созданный на Canvas.
  p Наша команда создавала сайт на основе pds-макетов дизайна и устных пожеланий заказчика.
  p 
    | Технологии: Ruby on Rails, HTML5, CSS3, jQuery, Javascript,
    | Canvas, Createjs, CoffeeScript, SCSS, Slim, адаптивная вёрстка.  
  p 
    | Ссылка на сайт: 
    a(href="http://arko24.ru") arko24.ru
