section
  h3 Сайт компании «Проектмаркетинг +1»
  img(src="/images/proektmarketing.png")
  p Сайт компании, частью которой была наша команда.
  p 
    | Технологии: Ruby on Rails, HTML5, CSS3, jQuery, Javascript, 
    | CoffeeScript, Barba.js, SCSS, Slim, адаптивная вёрстка.
  p 
    | Сайт: 
    a(href="http://proektmarketing.ru") proektmarketing.ru
