article.content
  .content-right
    p &nbsp;
    p We do web-development from design prototypes to a ready web-application.
    p We can help you start and grow your startup and then train your own development team.
    p We are the fluid organization — we ivite only specialists you need right now for your product.
    //- To business
    //- We will create web-application, API or website for you from design prototypes to a ready product.
    //- We will take your Ruby on Rails application on support and find how to improve it.
    //- We are making only technical part of work but we can help you find good specialists in: design, SEO, copywrite, 3d-modelling, illustration.
