header.m-hdr
  .container
    .logo-wrap
      .logo
        span.code {code}
        span の人
    .hdr-right-wrap
      .lang-switch
        a(href="/ru") ru
        span  — 
        a(href="/en").active en
