article.content
  h2 Portfolio
  include portfolio/craftup.pug
  .content-wrap
    include portfolio/arco.pug
    include portfolio/a2.pug
    include portfolio/otrajenie.pug
  .content-wrap
    .content--related
      include portfolio/proektmarketing.pug
      include portfolio/other_project.pug
