article.content.content-team
  h2 Team
  h3 Core team members:
  section
    h4 Ivan Dymkov
    p
      | Team-lead, senior developer
      br
      | 10.5&nbsp;years of&nbsp;programming
      | and&nbsp;3.5&nbsp;years of&nbsp;team-leading
      br
      | Special abilities: total full-stack and&nbsp;understanding
      | of&nbsp;full web-product life cycle.
      br
      a(href="https://github.com/dymio") github.com/dymio
  section
    h4 Vadim Tyukpeev
    p
      | Frontend-developer, HTML-CSS-specialist
      br
      | 3&nbsp;years experience
      br
      | Special abilities: complex web-animations and Canvas
      br
      a(href="https://github.com/RiceKing") github.com/RiceKing
  section
    h4 Pavel Rozhkov
    p
      | Backend-developer
      br
      | 3&nbsp;years experience
      br
      | Special abilities: machine learning, machine vision, multi-agent artificial
      | intelligence systems.
      br
      a(href="https://github.com/projkov") github.com/projkov
  section
    h4 Darina Ovechkina
    p
      | QA-specialist
      br
      | One years experience
      br
      | Special abilities: ability to break things working just fine for all others.
