article.content.content-team
  h2 Команда
  h3 Ядро команды:
  section
    h4 Иван Дымков
    p Тим-лид, ведущий fullstack-разработчик
    p 10,5 лет опыта программиста и 3,5 года опыта руководства командой.
    p Спец. способности: тотальный full-stack, и понимание всего цикла разработки и жизни проекта.
    a(href="https://github.com/dymio") github.com/dymio
  section
    h4 Вадим Тюкпеев
    p Frontend-разработчик, верстальщик
    p 3 года опыта
    p Спец. способности: сложная веб-анимация и работа с Canvas.
    a(href="https://github.com/RiceKing") github.com/RiceKing
  section
    h4 Павел Рожков
    p Backend-разработчик
    p 3 года опыта
    p 
     | Спец. способности: машинное обучение, машинное зрение, 
     | мультиагентные системы искусственного интеллекта.
    a(href="https://github.com/projkov") github.com/projkov
  section
    h4 Дарина Овечкина
    p Тестировщик
    p 1 год опыта работы
    p Спец. способности: умение сломать то, что уже долго нормально работало.
