article.content
  h3 Specialists who are working or worked with us:
  p
    strong Veronika Baranova
    | &nbsp;&mdash; frontend-developer, HTML-CSS-specialist
    br
    strong Aleksandr Borjonov
    | &nbsp;&mdash; backend-developer, 9&nbsp;years experience
    br
    strong Elena Bozina
    | &nbsp;&mdash; frontend-developer, HTML-CSS-specialist,
    | 4&nbsp;years experience
    br
    strong Victor Karzhanov
    | &nbsp;&mdash; designer, 3&nbsp;years experience
    br
    strong Anton Lee
    | &nbsp;&mdash; backend-developer, 8&nbsp;years experience
    br
    strong Aleksandr Malivanov
    | &nbsp;&mdash; designer, 5&nbsp;years experience
    br
    strong Vyacheslav Nor
    | &nbsp;&mdash; project-manager, 10&nbsp;years experience
    br
    strong Darina Ovechkina
    | &nbsp;&mdash; QA-specialist, one year experience
