article.content  
  h3 Внешние специалисты, которые принимали участие в проектах нашей команды:
  section
    h4 Вячеслав Нор
    p Проект менеджер с 10 годами опыта
  section
    h4 Вероника Баранова
    p Frontend-разработчик и вестальщик
  section
    h4 Елена Бозина
    p Frontend-разработчик и верстальщик с 4 годами опыта
  section
    h4 Виктор Каржанов
    p Дизайнер с 3 годами опыта
  section
    h4 Юлия Красикова
    p Проект-менеджер с годом опыта
  section
    h4 Антон Ли
    p Backend-разработчик с 8 годами опыта
  section
    h4 Александр Маливанов
    p Дизайнер с 5 годами опыта.    
