article.content
  h2 Open-source projects
  p.our-project-block
    span.our-project-logo: img(src="/images/mayak_logo.png" alt="Mayak")
    a(href="http://mayak.io/") Mayak
    | &nbsp;&mdash; Ruby on&nbsp;Rails application template made for&nbsp;fast
    | start of&nbsp;a&nbsp;common web-application. This project formed
    | the&nbsp;basis for&nbsp;more than 40 RoR-sites and&nbsp;absorbed
    | the&nbsp;best solutions from&nbsp;them.
  p.our-project-block
    span.our-project-logo: img(src="/images/vitrage_logo.png" alt="Vitrage")
    a(href="https://github.com/dymio/vitrage") Vitrage
    | &nbsp;&mdash; create and&nbsp;edit complex block-based content in&nbsp;any
    | RoR-application. Project still in&nbsp;beta but already have been used
    | in&nbsp;several real projects.
