article.content.content-team
  h2 Team
  h3 Core team members:
  section
    h4 Ivan Dymkov
    p
      | Team-lead, senior developer
      br
      | 11&nbsp;years of&nbsp;programming
      | and&nbsp;4.5&nbsp;years of&nbsp;team-leading
      br
      | Full-stack and&nbsp;understanding
      | of&nbsp;full web-product life cycle.
      br
      a(href="https://github.com/dymio") github.com/dymio
  section
    h4 Veronika Baranova
    p
      | Frontend-developer, HTML-CSS-specialist
      br
      | 2&nbsp;years experience
      br
      a(href="https://github.com/BVVeronika") github.com/BVVeronika
