article.content
  h2 Our tools
  .row
    .col
      h3 Back-end & DevOps:
      p Ruby, Ruby&nbsp;on&nbsp;Rails, RSpec, Go, PostgreSQL, Linux, Shell&nbsp;script, Mina, Docker, Heroku, Amazon&nbsp;AWS, Jenkins, Git.
    .col
      h3 Front-end:
      p HTML, CSS, JavaScript, React, Redux, Angular&nbsp;1, Backbone, Spine, jQuery, PostCSS, Webpack, Gulp, Sprockets, CreateJS, PixiJS, ThreeJS, Git.
    .col
      h3 Management:
      p Agile, Kanban, Scrum, Trello, Slack, Git.
