doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Коденохито — гибкая разработка веб-приложений на Ruby on Rails
    meta(name="description" content="Веб-разработка с проектирования до готового веб-приложения")
    meta(name="twitter:card" content="summary")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Коденохито — гибкая разработка веб-приложений на Ruby on Rails")
    meta(property="og:description" content="Веб-разработка с проектирования до готового веб-приложения")
    meta(property="og:image" content="http://codenohito.ru/ico/cnh_logo_image.png")
    link(rel="icon" sizes="16x16 32x32 48x48 64x64" href="/favicon.ico")
    <!--[if IE]>
    <link rel="shortcut icon" href="/favicon.ico">
    <![endif]-->
    link(rel="apple-touch-icon" href="/ico/cnh_touch_icon.png")
    meta(name="msapplication-TileColor" content="#fff")
    meta(name="msapplication-TileImage" content="/ico/cnh_tile_image.png")
    link(href='/css/main.css', rel='stylesheet')
    script.
      document.documentElement.className = 'js';
      var supportsCssVars = function() {
      var s = document.createElement('style'),
      support;
      s.innerHTML = "root: { --tmp-var: bold; }";
      document.head.appendChild(s);
      support = !!(window.CSS && window.CSS.supports && window.CSS.supports('font-weight', 'var(--tmp-var)'));
      s.parentNode.removeChild(s);
      return support;
      }
  body
    main
      include includes/hdr.pug
      .container
        .morph-wrap
          svg.morph(width='1400', height='770', viewbox='0 0 1400 770')
            polygon(points='700,84.4 1047.1,685.6 352.9,685.6 352.9,685.6 352.9,685.6 352.9,685.6')
        section.holder
          .content-wrap
            include includes/about.pug
          .content-wrap
            include includes/tools.pug
            include includes/team_main.pug
          .content-wrap
            include includes/team_reserve.pug
            include includes/team_project.pug
          include includes/portfolio.pug
      footer.m-ftr
        .container
          a(href="mailto:mstrdymio@gmail.com") mstrdymio@gmail.com
          if production_env == true
            | Хуй
    script(src='/js/main.min.js')
