article.content.content-about
  h2 Бизнесу
  .content-right
    p
      | Мы создадим для вас веб-приложение, API или сайт со сложным 
      |  функционалом начиная с проектирования, заканчивая поддержкой созданного решения.
      |  Мы возьмём на поддержку ваш сайт на Ruby on Rails, найдём способы как его улучшить и развить.
    p
      | Мы сделаем сайт так, что его будет легко продвигать в поисковых 
      | системах (SEO) и приятно постить на него ссылки в социальных сетях.
    p
      | Мы занимаемся только технической частью разработки, 
      |  но мы поможем вам найти подходящих специалистов других областей: 
      |  дизайнеров, seo-специалистов, копирайтеров, 3d-специалистов и иллюстраторов.
article.content
  h2 Дизайнерам
  p 
    | Мы сверстаем сайт или веб-приложение по вашим макетам любой сложности 
    | с адаптивным дизайном, поддержкой старых браузеров, сложной анимацией 
    | и компонентами, которые мы сделаем с помощью Canvas и SVG.
  p
    | Мы запрограммируем свёрстанный сайт на очень гибком движке, 
    | который позволит редактировать на сайте всё, что вы захотите и не 
    | позволит редактировать те компоненты, в которые вы не захотите пускать пользователя. 
  p 
    | Мы подключимся к проекту на этапе проектирования и поможем продумать 
    | структуру и функции продукта, а если нужно и техническое задание напишем.
  p 
    | Нам доверили работу над своими проектами компании 
    a(href="http://proektmarketing.ru/") Проектмаркетинг +1
    | , 
    a(href="http://idma.ru/") IDM&nbsp;agency.
article.content
  h2 Программистам
  p 
    | Мы подключимся к вашему проекту как полноценный юнит и будем 
    | выполнять задачи вашего бэклога. Разделив работу между членами 
    | команды по уровню умений (а значит и стоимости) мы сэкономим ваши 
    | деньги, а code-review от старшего специалиста не позволит потерять в качестве.
  p
    | Мы вольёмся в ваш производственный процесс или будем использовать 
    | свои практики ведения проектов — как вам удобнее.
