header.m-hdr
  .container
    .logo-wrap
      .logo
        span.code {code}
        span の人
    .hdr-right-wrap
      .lang-switch
        a(href="/ru").active ru
        | &nbsp;
        span —
        | &nbsp;
        a(href="/en") en

.container
  .logo-descr &laquo;Коденохито&raquo;
