article.content
  h3 Внешние специалисты, которые работали над нашими проектами:
  p
    strong Вячеслав Нор
    |  &mdash; проект менеджер с 10 годами опыта
    br
    strong Вероника Баранова
    |  &mdash; frontend-разработчик и вестальщик
    br
    strong Елена Бозина
    |  &mdash; frontend-разработчик и верстальщик с 4 годами опыта
    br
    strong Виктор Каржанов
    |  &mdash; дизайнер с 3 годами опыта
    br
    strong Юлия Красикова
    |  &mdash; проект-менеджер с годом опыта
    br
    strong Антон Ли
    |  &mdash; backend-разработчик с 8 годами опыта
    br
    strong Александр Маливанов
    |  &mdash; дизайнер с 5 годами опыта.
