article.content.content-team
  h2 Команда
  h3 Ядро:
  section
    h4 Иван Дымков
    p
      | Тим-лид, ведущий fullstack-разработчик
      br
      | 10,5 лет опыта программиста и 3,5 года опыта руководства командой.
      br
      | Спец. способности: тотальный full-stack, и понимание всего цикла разработки и жизни проекта.
      br
      a(href="https://github.com/dymio") github.com/dymio
  section
    h4 Вадим Тюкпеев
    p
      | Frontend-разработчик, верстальщик
      br
      | 3 года опыта
      br
      | Спец. способности: сложная веб-анимация и работа с Canvas.
      br
      a(href="https://github.com/RiceKing") github.com/RiceKing
  section
    h4 Павел Рожков
    p
      | Backend-разработчик
      br
      | 3 года опыта
      br
      | Спец. способности: машинное обучение, машинное зрение,
      | мультиагентные системы искусственного интеллекта.
      br
      a(href="https://github.com/projkov") github.com/projkov
  section
    h4 Дарина Овечкина
    p
      | Тестировщик
      br
      | 1 год опыта работы
      br
      | Спец. способности: умение сломать то, что уже долго нормально работало.
