article.content
  h2 Open-source проекты
  p.our-project-block
    span.our-project-logo: img(src="/images/mayak_logo.png" alt="Mayak")
    a(href="http://mayak.io/") Mayak
    |  создан для&nbsp;избавления от&nbsp;рутинных задач при&nbsp;старте
    | нового Rails-проекта без необходимости отказываться от&nbsp;гибкости,
    | как это бывает с&nbsp;CMS. Этот проект лёг в&nbsp;основу более чем
    | 40&nbsp;сайтов и&nbsp;вобрал в&nbsp;себя лучшие решения из&nbsp;них.
  p.our-project-block.short-project-block
    span.our-project-logo: img(src="/images/vitrage_logo.png" alt="Vitrage")
    a(href="https://github.com/dymio/vitrage") Витраж
    |  — инструмент создания и&nbsp;редактирования сложного контента.
