article.content  
  h3 Внешние специалисты, которые принимали участие в проектах нашей команды:
  section
    h5 Вячеслав Нор
    p Проект менеджер с 10 годами опыта
  section
    h5 Вероника Баранова
    p Frontend-разработчик и вестальщик
  section
    h5 Елена Бозина
    p Frontend-разработчик и верстальщик с 4 годами опыта
  section
    h5 Виктор Каржанов
    p Дизайнер с 3 годами опыта
  section
    h5 Юлия Красикова
    p Проект-менеджер с годом опыта
  section
    h5 Антон Ли
    p Backend-разработчик с 8 годами опыта
  section
    h5 Александр Маливанов
    p Дизайнер с 5 годами опыта.    
