article.content
  h2 Наши инструменты
  h3 Back-end & DevOps:
  p Ruby, Ruby on Rails, RSpec, Go, PostgreSQL, Linux, Shell script, Mina, Docker, Heroku, Amazon AWS, Jenkins, Git.
  h3 Front-end:
  p HTML, CSS, React, Redux, Angular 1, Backbone, Spine, jQuery, PostCSS, Webpack, Gulp, Sprockets, CreateJS, PixiJS, ThreeJS, Git.
  h3 Management:
  p Agile, Kanban, Scrum, Trello, Slack, Git.
